# OS / IDE
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Terraform
# Local .terraform directories
**/.terraform/*
# .tfstate files
*.tfstate
*.tfstate.*
# Crash log files
crash.log
crash.*.log
# Exclude all .tfvars files, which are likely to contain sensitive data
*.tfvars
*.tfvars.json
# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# Ignore CLI configuration files
.terraformrc
terraform.rc

# Kubernetes & GitOps
# Ignore local kubeconfig copies or sensitive environment variables
kubeconfig.yaml
.env
.env.local
*.secret.yaml
*.key
*.crt
*.pem

# Log files
*.log
